body {
    font-size: 16pt;
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Stoke', serif;
}

header {
    background-color: #5f5aa2;
    color: #E5E5E5;
    padding: 1.5rem;
}

main {
    background-color: #3f4045;
    color: #eff1f3;
    min-height: 60vh;
    margin: 0 auto;
    padding: 1.5rem;
}

footer {
    background-color: #355691;
    color: #E5E5E5;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

ol li, ol li::marker {
    margin-left: 3rem;
    color: #242F40;
    list-style: square;
}

a:visited {
    color: #ef767a;
}

header a {
    color: #242f40;
    padding-left: 5rem;
}

.questions {
    background-color: yellow;
    margin:0;
    color: red;
}

form {
    background-color: #495e7d;
    border: #355691 3px dotted;
    padding: 5%;
    color: #E5E5E5;
}

fieldset[id^=parent] {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

fieldset legend {
    font-family: 'Stoke', serif;
    background-color: #E5E5E5;
    color:#242F40;
}

[id^=parent] div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#parent1 {
    background-color:#355691 ;
}

#parent2 {
    background-color: #ef767a;
    color: #242F40;
}

#start-date {
    display: flex;
    justify-content: center;
    border: 1px white solid;
    align-items: center;
}

#start-date input {
    max-height: 25px;
    margin: 20px;
}

#submitcalendars {
    display: flex;
    justify-content: center;
}

#submit-schedule {
    margin: 4rem;
    background-color:#E5E5E5;
    border: none;
    box-shadow: 3px 6px 6px #ef767a;
    transform: scale(2);
}



.parent1days {
    background-color: #97a9c7;
}

.parent2days {
    background-color: #f7babc;
}

/* #calendar > div.k-calendar-view.k-calendar-monthview > table > tbody > tr:nth-child(4) > td:nth-child(1) > a {
    background-color: #97a9c7;
}
#calendar > div.k-calendar-view.k-calendar-monthview > table > tbody > tr:nth-child(4) > td:nth-child(2) > a {
    background-color: #97a9c7;
}
#calendar > div.k-calendar-view.k-calendar-monthview > table > tbody > tr:nth-child(4) > td:nth-child(3) > a {
    background-color: #f7babc;
}
#calendar > div.k-calendar-view.k-calendar-monthview > table > tbody > tr:nth-child(4) > td:nth-child(4) > a {
    background-color: #f7babc;
}
#calendar > div.k-calendar-view.k-calendar-monthview > table > tbody > tr:nth-child(4) > td:nth-child(5) > a {
    background-color: #f7babc;
}
#calendar > div.k-calendar-view.k-calendar-monthview > table > tbody > tr:nth-child(4) > td:nth-child(6) > a {
    background-color: #97a9c7;
}
#calendar > div.k-calendar-view.k-calendar-monthview > table > tbody > tr:nth-child(4) > td:nth-child(7) > a {
    background-color: #97a9c7;
}

#calendar > div.k-calendar-view.k-calendar-monthview > table > tbody > tr:nth-child(5) > td:nth-child(1) > a {
    background-color: #97a9c7;
}
#calendar > div.k-calendar-view.k-calendar-monthview > table > tbody > tr:nth-child(5) > td:nth-child(2) > a {
    background-color: #97a9c7;
}
#calendar > div.k-calendar-view.k-calendar-monthview > table > tbody > tr:nth-child(5) > td:nth-child(3) > a {
    background-color: #97a9c7;
}
#calendar > div.k-calendar-view.k-calendar-monthview > table > tbody > tr:nth-child(5) > td:nth-child(4) > a {
    background-color: #f7babc;
}
#calendar > div.k-calendar-view.k-calendar-monthview > table > tbody > tr:nth-child(5) > td:nth-child(5) > a {
    background-color: #f7babc;
}
#calendar > div.k-calendar-view.k-calendar-monthview > table > tbody > tr:nth-child(5) > td:nth-child(6) > a {
    background-color: #f7babc;
}
#calendar > div.k-calendar-view.k-calendar-monthview > table > tbody > tr:nth-child(5) > td:nth-child(7) > a {
    background-color: #f7babc;
} */

    /* Template Days */

    .exhibition,
    .party,
    .cocktail {
        font-weight: bold;
    }

    .exhibition {
        color: #ff9e00;
    }

    .party {
        color: #ff4081;
    }

    .cocktail {
        color: #00a1e8;
    }

    .italic{
        font-style: italic;
    }


@media screen and (min-width:1024px){
        #calendar-option {
            display: flex;
            flex-direction: row;
            text-align: center;
        }
}