.todo {
    font-size: 4vw;
    background-color: #ebe0c3;
    margin: 5vw;
}

.todo li {
    list-style: none;
}

.todo button {
    margin: 10px;
    font-size: 3vw;
    border-radius: 5px;
}

.todo input {
    margin: 10px;
    font-size:  3vw;
}

.todo li label input {
    transform: scale(2);
}

.filtertodo {
    display: flex;
    padding: 5px;
    background-color: #CCA43B;
}
.filtertodo button, .filtertodo p {
    margin: 1px;
    transform: scale(.75);

}